<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/styles/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <script src="/js/output.min.js"></script>
    </head>
    <body>
        <div class="nav">
            <div class="logo"><img class="nav__img nav__logo" src="/images/logo.png"></div>
            <ul class="nav-items">
                <li class="nav__li"><a class="nav__link" href="/"><span class="icon-home nav__img"></span>Home</a></li>
                <li class="nav__li"><a class="nav__link" href="https://looklive.com/discover/"><span class="icon-latest nav__img"></span>Latest</a></li>
                <li class="nav__li"><a class="nav__link" href="https://looklive.com/people/"><span class="icon-people nav__img"></span>People</a></li>
                <li class="nav__li"><a class="nav__link" href="https://looklive.com/shows/"><span class="icon-shows nav__img"></span>Shows</a></li>
                <li class="nav__li"><a class="nav__link" href="https://looklive.com/music/"><span class="icon-music nav__img"></span>Music</a></li>
                <li class="nav__li"><a class="nav__link" href="https://looklive.com/brands/"><span class="icon-brands nav__img"></span>Brands</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="header"><img class="header__img" src="/images/header.jpg"></div>

        <div class="inner-wrapper">
            {{{body}}}
        </div>
    </body>
</html>